<div class="fretboard">
  <div class="nav">
    <%= link_to "test", "/", class: "button" %> |       
  </div>
  <div class="selector">
    <p>Choose an artist:</p>
    <div class="cut">
      <select id="fretboard_selector"></select>
    </div>
  </div>
  <% (0..24).each do |fret_num| %>
    <div class="fret fret-<%= fret_num %>">
      <div class="roman-numeral">
        <div><%= fret_num %></div>
      </div>
      <% (0..5).each do |str_num| %>
        <div class="string string-<%= str_num %>">
          <div class="dot">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  fretboards = new FretHeatmapApp.Collections.FretboardsCollection();
  fretboards.reset(<%= @fretboards.to_json.html_safe %>);

  new FretHeatmapApp.Views.Fretboard({
    collection: fretboards,
    el: $(".fretboard")
  }).render();
</script>
