<!DOCTYPE html>
<html>
<head>
  <title>FretHeatmapApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
</head>
<body>

  <% unless mobile_device? %>
    <div class="header">
      <h1>Fretboard Heatmaps</h1> 
      <div class="nav">
        <%= link_to "HEATMAPS", root_path, class: "button " + class_for_action("index") %>
        <%= link_to "ABOUT", about_path, class: "button " + class_for_action("about") %>
        <%= link_to "CONTACT", contact_path, class: "button " + class_for_action("contact") %>
        <%= link_to "PUPPY SOUND SOFTWARE", "http://puppysound.com", class: "button" %>
      </div>
    </div>
  <% end %>
  
  <div id="<%= mobile_device? ? "mobile_app" : "" %>">
    <%= yield %>
  </div>

</body>
</html>
